* {
  padding: 0;
  margin: 0; }

body, html {
  height: 100%; }

body {
  font-size: 16px;
  color: #333;
  background-color: #f7f8f9;
  font-family: "Open Sans", "Hiragino Sans GB", "Microsoft YaHei", STHeiti, "WenQuanYi Micro Hei", Dengxian, Arial, SimSun, sans-serif; }

a {
  text-decoration: none;
  color: #444; }

ul ol {
  list-style: none; }

input, textarea {
  font: inherit; }

@font-face {
  font-family: 'idavedavehong';
  src: url("http://davedavehong.b0.upaiyun.com/fonts/idavedavehong.eot?sybyz8");
  src: url("http://davedavehong.b0.upaiyun.com/fonts/idavedavehong.eot?#iefixsybyz8") format("embedded-opentype"), url("http://davedavehong.b0.upaiyun.com/fonts/idavedavehong.ttf?sybyz8") format("truetype"), url("http://davedavehong.b0.upaiyun.com/fonts/idavedavehong.woff?sybyz8") format("woff"), url("http://davedavehong.b0.upaiyun.com/fonts/idavedavehong.svg?sybyz8#idavedavehong") format("svg");
  font-weight: normal;
  font-style: normal; }
#header {
  width: 100%; }
  #header .header-logo {
    min-height: 75px;
    width: 1120px;
    margin: 0 auto; }
    #header .header-logo a.logo {
      width: 155px;
      display: inline-block;
      float: left;
      padding: 14px 10px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
      #header .header-logo a.logo img {
        width: 135px; }
    #header .header-logo div.sns-nav {
      z-index: -1;
      display: inline-block;
      padding: 24px 0 0 10px;
      position: relative;
      vertical-align: top; }

div.sns-nav a {
  z-index: -1;
  margin-left: 10px;
  opacity: 0; }
  div.sns-nav a:nth-child(1) {
    -webkit-transition: opacity .25s .3s ease;
    transition: opacity .25s .3s ease; }
  div.sns-nav a:nth-child(2) {
    -webkit-transition: opacity .25s .2s ease;
    transition: opacity .25s .2s ease; }
  div.sns-nav a:nth-child(3) {
    -webkit-transition: opacity .25s .1s ease;
    transition: opacity .25s .1s ease; }
  div.sns-nav a:nth-child(5) {
    -webkit-transition: opacity .25s ease;
    transition: opacity .25s ease; }

div.sns-show {
  z-index: 11 !important; }

div.sns-show a {
  z-index: 11;
  opacity: 1; }
  div.sns-show a:nth-child(1) {
    -webkit-animation: iconPop .4s .1s;
    animation: iconPop .4s .1s;
    -webkit-transition: opacity .25s .1s ease;
    transition: opacity .25s .1s ease; }
  div.sns-show a:nth-child(2) {
    -webkit-animation: iconPop .4s .2s;
    animation: iconPop .4s .2s;
    -webkit-transition: opacity .25s .2s ease;
    transition: opacity .25s .2s ease; }
  div.sns-show a:nth-child(3) {
    -webkit-animation: iconPop .4s .3s;
    animation: iconPop .4s .3s;
    -webkit-transition: opacity .25s .3s ease;
    transition: opacity .25s .3s ease; }
  div.sns-show a:nth-child(4) {
    -webkit-animation: iconPop .4s .4s;
    animation: iconPop .4s .4s;
    -webkit-transition: opacity .25s .4s ease;
    transition: opacity .25s .4s ease; }

@-webkit-keyframes iconPop {
  0% {
    opacity: 0; }
  56% {
    -webkit-transform: scale(1.25);
    transform: scale(1.25); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1; } }
@keyframes iconPop {
  56% {
    -webkit-transform: scale(1.25);
    transform: scale(1.25); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }
[class^="icon-"], [class*=" icon-"] {
  font-family: "idavedavehong", serif !important;
  line-height: 1;
  font-size: 16px;
  color: #a4a4a4; }

.icon-chat:before {
  content: "\e600"; }

.icon-wechat:before {
  content: "\e601"; }

.icon-twitter:before {
  content: "\e602"; }

.icon-feed:before {
  content: "\e603"; }

.header-nav {
  width: 1120px;
  margin: 0 auto;
  position: relative;
  box-sizing: border-box; }
  .header-nav ul {
    width: 100%; }
    .header-nav ul li {
      display: inline-block;
      margin-right: 31px;
      position: relative; }
      .header-nav ul li:before {
        left: 50%;
        margin-left: -10px;
        cursor: pointer;
        position: absolute;
        border-width: 10px;
        top: 20px;
        border-style: solid;
        border-color: transparent transparent #000 transparent;
        content: '';
        opacity: 0;
        -webkit-transition: opacity .3s linear;
        transition: opacity .3s linear; }
      .header-nav ul li:hover:before {
        z-index: -2;
        opacity: 1; }
      .header-nav ul li a {
        font-weight: 500;
        display: block;
        height: 40px;
        line-height: 40px;
        -webkit-transition: -webkit-transform 0.2s ease;
        transition: transform 0.2s ease; }
        .header-nav ul li a:hover {
          -webkit-transform: translate(0, -5px);
          -ms-transform: translate(0, -5px);
          transform: translate(0, -5px);
          color: rgba(253, 23, 0, 0.8); }

#items-preview.show {
  opacity: 1;
  z-index: 9999; }

.items-preview {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  overflow: hidden;
  position: absolute;
  height: 190px;
  width: 100%;
  display: block;
  opacity: 0;
  z-index: -20;
  background-color: rgba(0, 0, 0, 0.8);
  padding-top: 40px; }
  .items-preview .item-group {
    position: relative;
    width: 1220px;
    margin: 0 auto;
    overflow: hidden; }
    .items-preview .item-group .item {
      width: 28%;
      float: left;
      padding: 0 27px; }
      .items-preview .item-group .item a {
        display: block;
        color: #ffffff; }
        .items-preview .item-group .item a h3 {
          width: 305px;
          overflow: hidden;
          text-overflow: ellipsis;
          -webkit-box-orient: vertical;
          opacity: .6;
          font-size: 15px;
          line-height: 26px;
          height: 52px; }
        .items-preview .item-group .item a .content {
          display: inline-block;
          width: 66%; }
          .items-preview .item-group .item a .content p {
            height: 92px;
            text-overflow: ellipsis;
            overflow: hidden;
            -webkit-box-orient: vertical;
            opacity: .3;
            line-height: 22px;
            font-size: 12px;
            display: -webkit-box;
            -webkit-line-clamp: 4; }
        .items-preview .item-group .item a img {
          margin-left: 12px;
          position: relative;
          top: -10px;
          display: inline-block;
          width: 95px;
          height: 69px; }
        .items-preview .item-group .item a span {
          display: block;
          color: rgba(253, 23, 0, 0.8);
          font-size: 12px;
          opacity: .6;
          font-weight: bold; }

.cont {
  position: relative; }
  .cont .slider {
    height: 550px;
    overflow: hidden;
    position: relative; }
    .cont .slider .post-mask {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 1; }
    .cont .slider .post-mask-top {
      background: -webkit-linear-gradient(-7.38deg, #7e78cc 0%, rgba(135, 115, 194, 0.82) 10.99%, rgba(158, 103, 166, 0.5) 29.97%, rgba(195, 84, 121, 0.1) 54.17%, rgba(201, 83, 115, 0.4) 69.21%, rgba(216, 79, 98, 0.79) 89.5%, #e34c56 100%);
      background: -webkit-gradient(linear, 4.62% 36.26%, 88.5% 61.65%, color-stop(0, #7e78cc), color-stop(0.1099, rgba(135, 115, 194, 0.82)), color-stop(0.2997, rgba(158, 103, 166, 0.5)), color-stop(0.5417, rgba(195, 84, 121, 0.1)), color-stop(0.6921, rgba(201, 83, 115, 0.4)), color-stop(0.895, rgba(216, 79, 98, 0.79)), color-stop(1, #e34c56));
      background: -ms-linear-gradient(-7.38deg, #7e78cc 0%, rgba(135, 115, 194, 0.82) 10.99%, rgba(158, 103, 166, 0.5) 29.97%, rgba(195, 84, 121, 0.1) 54.17%, rgba(201, 83, 115, 0.4) 69.21%, rgba(216, 79, 98, 0.79) 89.5%, #e34c56 100%);
      -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#7E78CC', endColorstr='#E34C56' ,GradientType=0)";
      background: -webkit-linear-gradient(352.62deg, #7e78cc 0%, rgba(135, 115, 194, 0.82) 10.99%, rgba(158, 103, 166, 0.5) 29.97%, rgba(195, 84, 121, 0.1) 54.17%, rgba(201, 83, 115, 0.4) 69.21%, rgba(216, 79, 98, 0.79) 89.5%, #e34c56 100%);
      background: linear-gradient(97.38deg, #7e78cc 0%, rgba(135, 115, 194, 0.82) 10.99%, rgba(158, 103, 166, 0.5) 29.97%, rgba(195, 84, 121, 0.1) 54.17%, rgba(201, 83, 115, 0.4) 69.21%, rgba(216, 79, 98, 0.79) 89.5%, #e34c56 100%); }
    .cont .slider .post-mask-bottom {
      background: -webkit-linear-gradient(0deg, #2678ff 31.01%, #3373f0 38.26%, #5365c9 52.2%, #884e89 71.43%, #d13032 94.97%, #e1291f 100%);
      background: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0.3101, #2678ff), color-stop(0.3826, #3373f0), color-stop(0.522, #5365c9), color-stop(0.7143, #884e89), color-stop(0.9497, #d13032), color-stop(1, #e1291f));
      background: -ms-linear-gradient(0deg, #2678ff 31.01%, #3373f0 38.26%, #5365c9 52.2%, #884e89 71.43%, #d13032 94.97%, #e1291f 100%);
      -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#2678FF', endColorstr='#E1291F' ,GradientType=0)";
      background: linear-gradient(90deg, #2678ff 31.01%, #3373f0 38.26%, #5365c9 52.2%, #884e89 71.43%, #d13032 94.97%, #e1291f 100%);
      opacity: 0.4; }
  .cont .bg-img {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    background: url("http://images.ifanr.cn/wp-content/uploads/2015/09/force-touch-story.jpg") center center no-repeat;
    background-size: cover;
    position: relative; }
  .cont .full-width {
    margin-top: 10%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10; }
    .cont .full-width .post-wrapper {
      width: 1120px;
      margin: 0 auto; }
      .cont .full-width .post-wrapper .tag span {
        display: inline-block;
        padding: 4px 20px;
        color: #FFFFFF;
        background-color: #df3120;
        font-weight: bold; }
      .cont .full-width .post-wrapper h2 {
        max-width: 600px;
        display: inline-block;
        font-size: 28px;
        font-weight: 500;
        line-height: 40px;
        background: rgba(0, 0, 0, 0.8);
        padding: 4px 10px;
        margin: 20px 0 4px;
        color: #ffffff; }
      .cont .full-width .post-wrapper .post-item-content {
        max-width: 600px;
        margin: 20px 0;
        font-size: 16px;
        opacity: 0.6;
        color: #FFF;
        text-shadow: 1px 1px 1px #000; }

/*# sourceMappingURL=home.css.map */
